/* ----- Paleta ----- */
:root{
  --bg1:#0b0b12;
  --accent:#9b6bff;
  --accent2:#3fe0ff;
}

/* ----- Fondo ----- */
body{
  margin:0;
  font-family:Inter, sans-serif;
  background:
  linear-gradient(rgba(10,0,25,0.55), rgba(5,0,15,0.75)),
  url("https://billboardphilippines.com/wp-content/uploads/2024/10/ADO-FTR-IMG-1600x838.jpg");
  background-size:cover;
  background-position:center;
  display:flex;
  align-items:center;
  justify-content:center;
  height:100vh;
  color:white;
}

/* ----- Contenedor ----- */
.card{
  width:95%;
  max-width:800px;
  background:rgba(255,255,255,0.06);
  border-radius:22px;
  padding:20px;
  display:grid;
  grid-template-columns:1fr 260px;
  gap:18px;
  backdrop-filter:blur(15px);
}

/* ----- Responsivo móvil ----- */
@media(max-width:700px){
  .card{
    grid-template-columns:1fr;
  }
  .board{
    width:90vw;
    height:90vw;
  }
}

/* ----- Tablero ----- */
.board{
  width:340px;
  height:340px;
  display:grid;
  gap:10px;
  grid-template-columns:repeat(3,1fr);
}
.cell{
  background:rgba(255,255,255,0.07);
  border-radius:10px;
  cursor:pointer;
}

/* X y O como imágenes */
.cell.X{ background-image:url("https://i.pinimg.com/736x/ee/ca/58/eeca587ace5b298ba728feeebaed66e7.jpg"); background-size:cover; }
.cell.O{ background-image:url("https://i.pinimg.com/736x/cf/5e/ac/cf5eacfd958b0f95676d4c889f538bd7.jpg"); background-size:cover; }

.sidebar button, select, .btn-primary{
  padding:8px 10px;
  border-radius:10px;
  border:0;
}
.btn-primary{
  background:linear-gradient(90deg,var(--accent),var(--accent2));
  color:black;
}
.btn-ghost{
  background:transparent;
  border:1px solid rgba(255,255,255,0.3);
  color:white;
}
